.mp {
    padding-right: 50px;
    padding-left: 50px;
}
.navbar {
    height: 36px;
    width: 100%;
    background: #0F2438;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.nav-link {
    display: inline;
    color: #FFFFFF;
}
.location {
    height: 20px;
    width: 14px;
    margin-right: 7px;
}
.header_left {
    column-gap: 15px;
}
.header_right {
    column-gap: 20px;
}
.logo img{
    height: 71px;
    width: 66px;
    margin-right: 12px;
}
.time img {
    height: 32px;
    width: 32px;
}
.loc img {
    height: 32px;
    width: 23px;
}

.whatsapp img {
    height: 12px;
    width: 12px;
    margin-left: 16px;
}
.logo_name h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.logo {
    height: 83px;
    width: 246px;
}
.logo_name p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    width: 180px;
    flex-wrap: wrap;
}
.time {
    height: 40px;
    width: 258px;
}
.time p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    text-align: right;
    color: #0F2438;
    margin-left: 10px;
}
.loc p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-left: 10px;
margin-top: 8px;
}
.whatsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
}
.whatsapp p {
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    margin-left: 6px;
}
.phone {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height:   10px;
    color: #0F2438;
}
.phone + p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 7px;
    color: #0F2438;
    text-align: right;
}
.contacts {
    height: 83px;
margin-top: 15px;
    background: white;
}
.search_menu {
    margin-top: 25px;
    background: white;
}
.search_button_1 {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.button_lines {
    flex-direction: column;
    row-gap: 3px;
}
.line {
    height: 3px;
    width: 20px;
    background: white;
}
.search_button_text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.form-control {
    width: 500px;
    height: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}
.btn-outline-secondary {
    height: 53px;
    width: 101px;
    margin-left: -10px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.sign_in img {
    height: 28px;
    width: 28px;
}
.sign_in div {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  margin-left: 10px;
    color: #0F2438;
}
.liked_products img {
    height: 25px;
    width: 28px;
    margin-right: 10px;
}
.liked_products div {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.shopping_cart img {
    height: 28px;
    width: 28px;
    margin-right: 10px;
}
.shopping_cart div {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    width: 69px;
    flex-wrap: wrap;
    color: #0F2438;
}
.shadow {
    padding: 1em;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}