
* {
    margin: 0;
    padding: 0;
}

.header {
    background: url("background.png") no-repeat center;
    background-size: cover;
    height: 125vh;
    width: 100%;
    position: relative;
}

.header__top {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    column-gap: 23px;
}

.header__menu img {
    width: 20px;

}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 23px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__top > img {
    margin-left: 165px;
}

.header__contact {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 200px;
    padding-left: 34px;
    border-left: 2px solid white;
}

.header__contact + button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    height: 47px;
    width: 157px;
    background: orange;
    border-color: orange;
    margin-right: 165px;
}

.header__main {
    margin-top: 200px;

}

.header__main h2 {
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 199px;
}

.header__main h1 {
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
    margin-left: 175px;
}

.header__main hr {
    width: 61px;
    height: 2px;
    background: white;
}

.header__main div {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    align-items: center;
    column-gap: 10px;
    margin-left: 271px;
    margin-top: 12px;
}

.header__main button {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 137px;
    height: 47px;
    background: orange;
    border-color: orange;
    margin-left: 356px;
    margin-top: 21px;
}

.header__list {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 31px;
    margin-top: 124px;
    position: absolute;
    bottom: -250px;
}

.list__box {
    height: 349px;
    width: 328px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__box img {
    margin-top: 35px;
}

.list__box div {
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.list__box p {
    font-size: 26px;
    line-height: 30px;
    color: #656363;
    text-align: center;
    margin-top: 20px;
}

.header__main_mobile {
    display: none;
}