body {
    margin: 0;
}

.h600 {
    height: 600px;
}

.bg_light {
    background: lightgrey;
}

.bg_dark {
    background: darkslategrey;
}

.display {
    display: flex;
}

.border {
    border: 1px solid cornflowerblue;
}

.secondblock {
    height: 550px;
    width: 1300px;
    flex-direction: column;
}

.blocksinside {
    height: 400px;
    width: 1300px;
}

.blocksinside > div {
    flex-grow: 1;
    height: 400px;
    flex-direction: column;
}

.radius {
    border-radius: 30px;
}

.square {
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-right: 10px;
    box-sizing: border-box;
}

.x_center {
    justify-content: center;
}

.y_center {
    align-items: center;
}

.radius50 {
    border-radius: 50%;
}