.h {
    height: 100px;
    width: 610px;
    background: cornflowerblue;
}
.b {
    box-sizing: border-box;
    border: .5px solid black;
}
#menu {
    height: 310px;
    width: 200px;
    background: blue;
}
.post {
    height: 150px;
    width: 400px;
    background: blueviolet;
}
.m {
    margin-top: 10px;
}
.father {
    display:flex;
    column-gap: 10px;
}
.father_1 {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
#footer {
    margin-top: 10px;
}